$navbar-default-bg: #4c294b;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	float: left;
	color: #fff;
	font-weight: bold;
}

#logo:hover {
	text-decoration: none;
}

.center {
	text-align: center;
}

ul.navbar-nav>li>a {
	color: #ffffff !important;
}