<div class="container">
	<footer>
		<small>
			Copyright &copy; 2017 Alpha Blog using Ruby on Rails Udemy course
		</small>
		<nav>
			<ul>
				<li>
					<%= link_to "About", about_path %>
				</li>
			</ul>
		</nav>
	</footer>
</div>